.projects {
  width: 100%;
  height: 92%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 0.5fr;
  gap: 10px;
}
.projects > div {
  transition: all 0.3s;
  cursor: pointer;
}
.projects > div:hover {
  box-shadow: 0 0 20px white;
}

@media screen and (max-width: 1000px) {
  .projects {
    grid-template-columns: 1fr;
    grid-auto-rows: 40%;
    overflow: auto;
  }
}
