section {
  height: 100vh;
  position: relative;
  display: flex;
}
.info {
  width: 95%;
  height: 90%;
  margin: auto;
  padding: 20px;
}

.profilePic {
  width: min(50%, 225px);
  aspect-ratio: 1/1;
  margin: auto;
  background-image: url("../Assets/image/Profile photo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  animation: appear 1s linear forwards, backLight 1s 1s linear forwards,
    bounce 4s 7s linear infinite forwards;
}
.profilePicLoaded {
  width: min(50%, 225px);
  aspect-ratio: 1/1;
  margin: auto;
  background-image: url("../Assets/image/Profile photo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 0px 20px 8px white;
  animation: bounce 4s 7s linear infinite forwards;
}

.title {
  width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  text-shadow: 2px 3px 0px rgb(124 7 244);
  font-size: max(2.5vw, 24px);
  animation: typing 3.5s 2s steps(37) forwards;
}
.titleLoaded {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  text-shadow: 2px 3px 0px rgb(124 7 244);
  font-size: max(2.5vw, 24px);
}

.tagLine {
  text-align: center;
  font-size: max(4vw, 40px);
  transform: scale(0);
  opacity: 0;
  animation: appear 1s 4s linear forwards, lightBounce 2s 5s linear forwards;
}
.tagLineLoaded {
  text-align: center;
  font-size: max(4vw, 40px);
  transform: scale(1);
  opacity: 1;
  text-shadow: 2px 3px 27px white, -2px -3px 27px white;
}
nav {
  display: flex;
  font-size: 3rem;
  justify-content: space-around;
  padding: 30px;
}

.navOptions {
  all: unset;
  width: 20%;
  padding: 19px 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  animation: appear2 1s 8s linear forwards,
    bounce 4s calc(7s + var(--i)) linear infinite forwards;
}
.navOptionsLoaded {
  all: unset;
  width: 20%;
  padding: 19px 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: bounce 4s calc(0s + var(--i)) linear infinite forwards;
}
nav > button:hover {
  box-shadow: 0 0 10px 5px white;
}
.menu {
  display: none;
}
.navs {
  height: 95%;
}
@media screen and (max-width: 1000px) {
  .title {
    width: 100%;
    animation: appear 3.5s 1s ease-in forwards;
    white-space: inherit;
    opacity: 0;
  }
  .titleLoaded {
    width: 100%;
    white-space: inherit;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
    background-image: url("../Assets/image/menu.svg");
    background-repeat: no-repeat;
    width: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
}

.showNav {
  display: grid;
  height: 100%;
  align-items: center;
}
.showNav > button {
  width: 100%;
  opacity: 1;
  animation: bounce 4s calc(var(--i)) linear infinite forwards;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: #d3d3d378;
  display: grid;
}
/* animations */
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes appear2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes backLight {
  from {
    box-shadow: 0 0 0 0 white;
  }
  to {
    box-shadow: 0 0px 20px 8px white;
  }
}

@keyframes lightBounce {
  0%,
  20%,
  50%,
  80% {
    text-shadow: 0 0 white;
  }
  40% {
    text-shadow: 0px 0px 10px white;
  }
  60% {
    text-shadow: 0px 0px 15px white;
  }
  100% {
    text-shadow: 2px 3px 27px white, -2px -3px 27px white;
  }
}
.glass {
  background-color: rgb(124 7 244 / 13%);
  /* box-shadow: 0 0px 13px 0 rgb(124 7 244); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
